@media all and (max-width: 500px)
  #labour_protection
    font-size: 1rem
    .cards
      flex-direction: column
      margin: 2rem 0!important
      padding-bottom: 0!important
      row-gap: 1rem
      grid-template-columns: 1fr!important
      .card
        width: auto!important
        &-image
          display: none
        &-body
          padding: 1rem 0
    .header
      height: 7rem!important
      .container
        flex-direction: column-reverse
      &__title
        font-size: 1.5rem!important
        text-align: center
    .content
      margin: 0!important
    .photos
      grid-template-columns: 1fr
    .photo
      width: 100%
      height: auto
    .table_programs
      th, td
        font-size: .7rem
      tr th:nth-child(3), tr td:nth-child(3), tr th:nth-child(5), tr td:nth-child(5), tr th:nth-child(7), tr:nth-child(2) th:nth-child(1), tr:nth-child(2) th:nth-child(2), tr td:nth-child(7), tr td:nth-child(8)
        display: none!important
      tr th:nth-child(6)
        border-top-right-radius: 35px
    .table_briefing
      thead
        font-size: .6rem!important
      tbody
        font-size: .7rem!important
    .table_requirements
      font-size: .8rem
    #contacts_button a
      font-size: 1.5rem!important
