@media all and (max-width: 500px)
  #footer
    .contacts_info
      flex-direction: column-reverse
      align-items: center
      button, span, a
        margin: 1rem 0
        text-align: center
      a
        font-size: 2.5rem
        margin-top: 3rem
