.viv

  ///////////////////////////////////// FEEDBACK //////////////////////////////////////////////
  .feedback, #footer .contacts
    background-image: none
    background-color: rgba(9, 9, 27, 0.38)

  .feedback
    &__left
      img
        display: none
      &-words
        .first, .third
          font-size: 2rem
          font-weight: bold
    &__right
      form
        input[type=text]
          box-shadow: inset 0 0 0 2px rgb(0 0 0)
          &:focus
            box-shadow: inset 0 0 0 2px rgb(0 0 0)
          &::placeholder
            color: black
            font-size: 1.3rem
        .form-check
          input
            height: 1.5rem
            width: 1.5rem
          label
            color: black
            font-size: 1.2rem
      button
        background-color: rgb(255 193 7)
        font-size: 1.3rem
        color: black
  /////////////////////////////////////////////////////////////////////////////////////////////

  //////////////////////////////////// MENTION ///////////////////////////////////////////////
  .mention
    h4
      color: black
      font-size: 2rem
      font-weight: bold
    .comment_card__avatar
      visibility: hidden
    .comment_card__content
      font-size: 1.2rem
      color: black
    .comment_card__footer
      font-size: 1.2rem
    .carousel__control
      button
        background-image: none
        background-color: transparent
        width: 5rem
        i
          color: black
          font-size: 6.5rem
  ////////////////////////////////////////////////////////////////////////////////////////////


  //////////////////////////////// REQUEST MODAL /////////////////////////////////////////////
  #modalRequest
    .modal-content
      width: auto
    .modal-title
      font-size: 2rem
    .form-floating
      label
        font-size: 1.5rem
        color: black
    .form-check
      input
        font-size: 1.3rem
      label
        font-size: 1.3rem
    .btn_submit
      margin: 5% 25% 0 25%
      background-color: rgb(255 193 7)
      background-image: none
      color: black
      font-weight: bold
      font-size: 1.2rem
  ////////////////////////////////////////////////////////////////////////////////////////////

  //////////////////////////////////// ABOUT ////////////////////////////////////////////////
  #about, #education, #training, #fire_safety, #labour_protection, #contacts
    color: black
    .header
      background-image: radial-gradient(at left bottom, rgb(255,255,255) -2%, rgb(255, 255, 255) 100%)
      color: black
      &__title
        font-size: 3rem
    #contacts_button
      button
        a
          color: black
          font-size: 2.6rem
        &:hover
          background-color: rgba(116, 195, 61, 1)
          border-radius: 55px
          opacity: 1
          padding-bottom: 10px
          padding-top: 10px
          a
            color: white
    p, li
      font-size: 1.4rem
    h1
      font-size: 2.2rem
      color: black
    h4
      color: black
      font-size: 1.7rem
    a
      color: black
    table
      font-size: 1.3rem
    .table_programs
      td
        font-size: 1rem
      th
        font-size: .7rem
      .expand_button
        span
          font-size: .8rem
          color: black
    .cards
      grid-template-columns: 1fr 1fr 1fr
    .card
      width: 100%!important
      box-shadow: inset 0px -3px 0px 0px rgb(203, 203, 203)
      &-image
        display: none
      &-text
        color: black !important
        font-size: 1.2rem
    .violet
      color: black
    .accordion
      font-size: 1.5rem
      color: black
      &-item, .expand_button
        border: 2px solid rgb(50, 19, 128)
      &-button
        color: black
        &:not(.collapsed)
          background-color: rgb(50, 19, 128)
        &:hover
          background-color: rgb(50, 19, 128)
      .expand_button
        color: rgb(50, 19, 128)
        &:hover
          background-color: rgb(50, 19, 128)
      .columns-header
        color: rgb(50, 19, 128)
  #education, #training
    .header__title
      font-size: 2rem
    #contacts_button button a
      color: black
      font-size: 1.5rem
  ///////////////////////////////////////////////////////////////////////////////////////////

